.container { 
    position: relative;
    height: 500px;
   
}

.container img {
    left: 0;
    top: 0;
    position: absolute;
    height: 400px;
    opacity: 0;
    transition: ease .2s;
}


.bullet-single {
    margin: 0 8px;
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #e60606;

}

.active-bullet {
     background-color: #333;
}